h1 {
    color: green;
    font-style: italic
}
.person {
    color: rgb(53, 180, 239);
    padding: 5px;
}
.success {
    border-radius: 4px;
    border-color: lime;
    color: green;
    background-color: rgb(189, 189, 189);
    padding: 10px;
    border-style: solid;
    margin: 10px;
    max-width: 500px;
}
.error {
    border-radius: 4px;
    border-color: rgb(255, 98, 0);
    color: rgb(82, 14, 13);
    background-color: rgb(189, 189, 189);
    padding: 10px;
    border-style: solid;
    margin: 10px;
    max-width: 500px;
}